<!DOCTYPE HTML>
<html>
<head>
  <title></title>
</head>
<body>
  <h3>This is shinjuku.ex</h3>
  <ul>
    <li>Hello, me</li>
  </ul>
  <ol>
    <li>Change this view at <code>app/views/index.html.eex</code></li>
    <li>Add new routes at <code>app/routers/application_router.ex</code></li>
    <li>Deploy to production with <code>MIX_ENV=prod mix do compile, server</li>
  </ol>
</body>
</html>
